<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sydney & Sean</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'us1.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'us1.png', type: 'image/png' %>
    <script type="text/javascript">
      (function() {
        window.PA_SITE_ID = 5930841486477;
        var u='//api.pleasant.io/';
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'pleasant.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
  </head>
  <body>
    <%= render 'nav' %>
    <%= yield %>
  </body>
</html>
